<section class="spotlight">
  <h2 class="spotlight__header">
    <span class="spotlight__header--prefix">Media Spotlight: </span><%= link_to @spotlight.title, work_path(@spotlight.id), class: "spotlight__link-to" %> by <%= @spotlight.creator %> 
  </h2>
  <p class="spotlight__description">
    <%= @spotlight.votes.count%> votes - <%= @spotlight.description%> 
  </p>  
</section>

<hr class="root__hr" />
  <section class="top-ten__container">
    <%= render partial: 'top_ten', locals: {category: @movies, heading: "Top Movies", plural: "movies"} %>  
    <%= render partial: 'top_ten', locals: {category: @books, heading: "Top Books", plural: "books"} %> 
  <%= render partial: 'top_ten', locals: {category: @albums, heading: "Top Albums", plural: "albums"} %> 
    
</section>
