<h2>List of Works</h2>

  <%= render partial: 'index_section', locals: {category: @albums, heading: "Albums"} %>
  <%= render partial: 'index_section', locals: {category: @books, heading: "Books"} %>
  <%= render partial: 'index_section', locals: {category: @movies, heading: "Movies"} %>

<%= link_to "View top media", root_path, class: "btn btn-secondary" %> 
<%= link_to "Add a new work", new_work_path, class: "btn btn-primary" %>