    <section>
  <h2><%= @work.title %></h2>
  <p>Created by: <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <p><%= @work.description %></p>
  <section>
    <%= link_to "Back to media ranks", root_path, method: :get, class: "btn btn-primary" %>
    <%= link_to 'Edit', edit_work_path(@work.id), class: "btn btn-primary" %>
    <a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/712/upvote">Upvote<!--TODO votes--></a>
    <%= link_to 'Delete', work_path(@work.id), class: "btn btn-primary", method: :delete, data: {confirm: "Are you sure?"} %>
  </section>
</section>

<section class="works-votes__container"><!-- TODO Votes! -->
  <h3 class="works-votes__header">0 Votes for this Album</h3>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
  </ul>
</section>