<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app-header__header">
  <h1>
    <a href="/">Pizza Ranker</a>
    <small>Ranking the Best of Pizza</small>
  </h1>

  <!-- TODO - need to code this -->

  <nav class="app-header__nav">
    <ul class="nav app-header__site-nav-container">
      <li class="nav-item app-header__nav_item">
        <a class="nav-link" href="/">View top media</a>
      </li>
      <li class="nav-item app-header__nav_item">
        <a class="nav-link" href="/works">View all media</a>
      </li>
      <li class="nav-item app-header__nav_item">
        <a class="nav-link" href="/works/new">Add a new work</a>
      </li>
      <li class="nav-item app-header__nav_item">
        <a class="nav-link" href="/users">View all users</a>
      </li>
    </ul>
    <ul class="nav app-header__user-nav-container">

      <li class="nav-item app-header__nav_item">
        <a class="btn btn-primary" href="/users/617">Logged in as nora</a>
      </li>
      <li class="nav-item app-header__nav_item">
        <a class="btn btn-primary" rel="nofollow" data-method="post" href="/logout">Log Out</a>
      </li>


    </ul>
  </nav>
</header>
    
    <%= yield %>
  </body>
</html>
